@tailwind base;
@tailwind components;
@tailwind utilities;

.app {
  @apply relative w-full h-screen overflow-hidden;
}

.home {
  @apply w-fit xl:h-full flex xl:justify-between justify-start items-start flex-col xl:py-8 xl:px-36 sm:p-8 p-6 max-xl:gap-7 absolute z-10;
}

html,
body {
  font-size: 62.5%;
  width: 100%;
  height: 100vh;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*:before,
*:after {
  font-family: "Poppins", -apple-system, sans-serif;
  z-index: 0;
}

canvas {
  z-index: 30;
}
